<%= render "gardens/banner", garden: @garden %>

<div class="container pt-5">
  <!-- List plants here: -->
  <div class="row">
    <% @garden.plants.each do |plant| %>
      <div class="col-4">
        <%= render "plants/card", plant: plant %>
      </div>
    <% end %>
  </div>
</div>
